/* Default Values
    Greenish Blue: #34c6d3;
    steel Gray: #41464b;
    Blue Bayoux: #64707b;
    white:#ffffff;
    black:#000000;

*/


/* General Css */

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    text-transform: uppercase;
}

.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
}


.content-title-white h3
{
    color:#fff;
}


/* to use class we will prefix '.' followed by class name */

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}


/* Home section css */

html,
body {
    height: 100%;
}

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");
    animation-delay: .1s;
    animation-duration: 2s;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading {
    animation-delay: 1s;
    animation-duration: 1s;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

#home-btn {
    animation-delay: 1.5s;
    animation-duration: 1s;
}


/* Service Section */

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}


/* About Section */

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url("../img/bg-about.jpg");
    border-left: 200px solid white;
    border-top: 700px solid transparent;
}


/* Work Css */

.row.no-gutters[class*=col-]
{
    padding-left: 0;
    padding-right:0;
}

.img-wrapper img:hover{
    transform:scale(1.5);
    cursor:zoom-in;

}
.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform .5s ease;;
}





/* Team Css */

.team-member
{
    margin:0 15px;
}

.team-member img{
    border-radius: 50%;
}


.team-member-info
{
    padding:10px 0 30px 0;
}

h4.team-member-name{
    font-size:22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top:20px;
}

h4.team-member-designation
{
    color:#34c6d3;
    font-size:15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

.social-list
{
    padding-left:0;
}

.social-list li
{
    list-style: none;
    display: inline-block;
    width:32px;
    height: 32px;
    margin-right:6px;
    margin-top:10px;

}


.social-icon i
{
    font-size: 18px;
}

.icon-gray i{
    color:#64707b;
}

.social-icon i:hover
{
    color:#34c6d3;
}


/* Testimonial */

#testimonials-cover
{
    background-image: url("../img/bg-testimonials.jpg");
}

#testimonials .content-box
{
    background-color:rgba(0,0,0,0.1);
}

#customers-testimonials
{
    padding:50px 0;
}

.testimonial img{
    max-width: 120px;
    margin:0 auto 0 auto;
    border-radius:60%;
}


.testimonial blockquote
{
    font-family: Georgia,sans-serif;
    border:0;
    font-style: italic;
    color:#fff;
    padding:6px 150px;
    position: relative;
}

.testimonial blockquote p{
    color:#fff;
}

.testimonial blockquote::before
{
    content:"\201C";
    top:0;
    left:100px;
}

.testimonial blockquote::after
{
    content:"\201D";

    bottom:0;
    right:100px;
}

.testimonial blockquote::before,.testimonial blockquote::after
{
    font-size:80px;
    font-style:normal;
    line-height: 1px;
    width:30px;
    height:30px;

    position:absolute;


}

.testimonial-author p
{
    color:#fff;
    font-size: 17px;
}

.testimonial-author p strong{
    display: block;
}




